{% extends "::base.html.twig" %}

{% block jumbotron %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-notice">
            {{ flashMessage }}
        </div>
    {% endfor %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1>Devboard</h1>

            <h2>Have all relevant github projects info in one place</h2>

            <br/>
            <br/><br/>

            <p class="text-center">

                <a href="{{ path('null_dev_user_connect_github') }}" class="btn btn-primary btn-lg" role="button" id="sign-up">
                    {% image '@NullDevUserBundle/Resources/public/images/GitHub/GitHub-Mark-32px.png' %}
                    <img src="{{ asset_url }}" alt="Sign up using Github"/>
                    {% endimage %}
                    Sign up using Github
                </a>

            </p>
        </div>
    </div>

{% endblock %}

{% block main %}
    Hello!
{% endblock %}
