{% extends "::base.html.twig" %}

{% block jumbotron %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1>Devboard</h1>

            <h2>Have all relevant github projects info in one place</h2>

            <p>
                <a class="btn btn-primary btn-lg" role="button" id="sign-up"
                   href="https://github.com/login/oauth/authorize?scope=user,read:org,repo&client_id={{ github_client_id }}">
                    Sign up using Github
                </a>
            </p>
        </div>
    </div>

{% endblock %}

{% block main %}
    Hello!
{% endblock %}
