{% extends '::base.html.twig' %}
{% block title %}Your devboard{% endblock %}
{% block body -%}
    <div class="clear-fix"> &nbsp;</div>
    <div id="app">Initing dashboard...</div>
    <div id="branches">
        {{ render(controller( 'DevBoardCoreBundle:Dashboard:livebranches' )) }}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="/static/js/build/bundle.js"></script>
{% endblock %}
