{% extends '::base.html.twig' %}
{% block title %}Your devboard{% endblock %}
{% block body -%}
    <br>
    <div id="app">
        <div class="container">Initing dashboard...</div>
    </div>
{% endblock body %}

{% block javascripts %}
    <script src="/static/js/build/bundle.js"></script>
{% endblock javascripts %}
