{% extends '::base.html.twig' %}

{% block body -%}
    <div class="container">
        <h1>My projects</h1>

        <table class="records_list">
            <thead>
            <tr>
                <th>Project</th>
                <th>Active</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.projectName }}</td>
                    <td>{% if entity.active %}<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>{% else %}<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>{% endif %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}
